<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Grid</h1>
    </div>
  </div>
  <div class="row" *ngIf="render">
    <div class="col-lg-12">
		<h3>Basic With Dynamic Headers</h3>
		<p-table [value]="cars" [paginator]="true" [rows]="5">
			<ng-template pTemplate="header">
				<tr>
					<th *ngFor="let col of cols">
						{{col.header}}
				</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-car>
				<tr>
					<td>{{car.id}}</td>
					<td>{{car._firstCreatedTimestamp}}</td>
					<td>{{car.categories}}</td>
					<td>{{car.tagline}}</td>
				</tr>
			</ng-template>
		</p-table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
		<h3>Basic With Dynamic And Fixed Headers</h3>
		<p-table [value]="cars" [paginator]="true" [rows]="10" [scrollable]="true" scrollHeight="240px">
			<ng-template pTemplate="header">
				<tr>
					<th *ngFor="let col of cols">
						{{col.header}}
				</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-car>
				<tr>
					<td>{{car.id}}</td>
					<td>{{car._firstCreatedTimestamp}}</td>
					<td>{{car.categories}}</td>
					<td>{{car.tagline}}</td>
				</tr>
			</ng-template>
		</p-table>
    </div>
  </div>
  <div class="row">
	<div class="col-lg-12">
		<h3>Inline Editing</h3>
		<p-table [columns]="cols" [value]="carsData" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Id</th>
            <th>Created Date</th>
            <th>Categories</th>
            <th>Tagline</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" [(ngModel)]="rowData.id">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.id}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
               <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" [(ngModel)]="rowData._firstCreatedTimestamp" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData._firstCreatedTimestamp}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" [(ngModel)]="rowData.categories">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.categories}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" [(ngModel)]="rowData.tagline">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.tagline}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
	</p-table>
		</div>
	  </div>
	<div class="row">
		<div class="col-lg-12">
			<h3>Lazy Loading</h3>
			<p-table [columns]="cols" [value]="lazyLoadingData" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true" 
		[rows]="5" [totalRecords]="100" [loading]="loading">
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th *ngFor="let col of columns">
					{{col.header}}
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData let-columns="columns">
			<tr>
				<td *ngFor="let col of columns">
					{{rowData[col.field]}}
				</td>
			</tr>
		</ng-template>
	</p-table>
	</div>
  </div>
  <div class="row">
		<div class="col-lg-12">
			<h3>Export</h3>
			<p-table #dt [columns]="cols" [value]="exportData" selectionMode="multiple" [(selection)]="selectedCars">
    <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
            <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
	</div>
  </div>
</div>