<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Line Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <app-linechart></app-linechart>
          </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Discrete Bar Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
              <app-discrete-bar></app-discrete-bar>
          </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Pie Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
              <app-pie></app-pie>  
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Multi Bar horizontal Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
              <app-multi-bar-horizontal-chart></app-multi-bar-horizontal-chart>
          </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Donut Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <app-donut></app-donut>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Multi Bar Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <app-multi-bar></app-multi-bar>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Box Plot Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <app-box-plot-chart></app-box-plot-chart>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
</div>
