<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Text Editor</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div [froalaEditor]="froalaOptions" [(froalaModel)]="editorContent"></div>
      <br />
      <h3 class="preview-label">Preview:</h3>
      <div class="preview">
        <div [froalaView]="editorContent"></div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <!-- /.row -->
</div>
