<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Ng2 Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-bar-chart-o fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">8</div>
              <div>Charts and Graphs Examples!</div>
            </div>
          </div>
        </div>
        <a routerLink="/charts" routerLinkActive="active">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-table fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">5</div>
              <div>Grid Examples!</div>
            </div>
          </div>
        </div>
        <a routerLink="/tables" routerLinkActive="active">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-edit fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">4</div>
              <div> Forms Types!</div>
            </div>
          </div>
        </div>
        <a routerLink="/forms" routerLinkActive="active">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-pencil fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">1</div>
              <div>Text Editor!</div>
            </div>
          </div>
        </div>
        <a routerLink="/editor" routerLinkActive="active">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-angular fa-fw"></i> About Angular2
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          Angular is a framework for building client applications in HTML and either JavaScript or a language like TypeScript that compiles to JavaScript. The framework consists of several libraries, some of them core and some optional. You write Angular applications
          by composing HTML templates with Angularized markup, writing component classes to manage those templates, adding application logic in services, and boxing components and services in modules. Then you launch the app by bootstrapping the root
          module. Angular takes over, presenting your application content in a browser and responding to user interactions according to the instructions you've provided. Of course, there is more to it than this. You'll learn the details in the pages that
          follow. For now, focus on the big picture.
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</div>
